@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./calculadora.css');


html{
    width:100%;
    
}

*{
    margin: 0;
    padding: 0;
    color: oklch(98.2% 0.018 155.826);
    font-family: 'poppins', sans-serif;
    box-sizing: border-box; 
}

body {
  overflow: hidden;
}

.Cor-Fundo{
    background-color: oklch(20.8% 0.042 265.755);
    overflow-x: hidden;
}

.cabeçalho{
    background: linear-gradient(45deg,oklch(31.644% 0.0591 269.666), oklch(27.9% 0.041 260.031)) ;
    display: flex;
    justify-content: space-between;
    padding: 10px 5vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logo-titulo{
    display: flex;
    align-items: center;
    gap: 5px;
    letter-spacing: 1px;
}

.logo-titulo h1:hover{
    color:oklch(92.339% 0.18827 102.254);
    cursor: pointer;
    text-shadow: 0 0 10px oklch(94.554% 0.14344 102.804);
}

.lista{
    display:flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}

.itens{
    text-decoration: none;
}

.itens:hover{
    color:oklch(77.7% 0.152 181.912) !important;
    text-shadow: 0 0 10px #ffffff;
}

.login-button:hover{
    background-color: oklch(84.5% 0.143 164.978);
    cursor: pointer;
    box-shadow: 0 0 10px oklch(80.468% 0.16054 70.986);
}

.navegação{
    display: flex;
    align-items: center;
}

.login-button{
    color: #000814;
    background-color: #00FF88;
    padding: 10px;
    border: none;
    border-radius: 6px;
    width:6rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

a{
    text-decoration: none;
}

h2,b, h4{
    color: oklch(76.5% 0.177 163.223) !important;
    font-size: 30px;
}

.text-light{
  font-size: 16px;
}

p{
  color: #ffffff !important;
  font-size: 17px;
}

.form-label{
  color: #ffffff;
  font-size: 17px;
}

.Cor-perso{
  background-color: oklch(32.946% 0.04251 256.891 / 0.63) !important;
}

.border-custom {
  border: 1px solid oklch(60% 0.118 184.704) !important;
}

.navbar {
  box-shadow: 0 0 15px rgba(0, 255, 100, 0.15);
  text-decoration: none;
}

form .form-control:focus {
  border-color: #00ff88;
  box-shadow: 0 0 10px #00ff8855;
}

.btn-success {
  background-color: #00ff88;
  border: none;
  color: #000;
  font-weight: 600;
  transition: 0.2s;
}

.btn-success:hover {
  background-color: #00cc6a;
  transform: scale(1.02);
}

.card {
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 255, 100, 0.25);
}

footer{
    padding:2em;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.texto-card{
  color: #e6e6e6b7 !important;
}

.texto-sub-titulo{
  color: #00c95a;
  font-size: 19.5px;
}