@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./calculadora.css');


*{
    margin: 0;
    padding: 0;
    color: oklch(98.2% 0.018 155.826);
    font-family: 'poppins', sans-serif;
}

body{
    background-color: oklch(20.8% 0.042 265.755);
    width: 100%;
}

.cabeçalho{
    background: linear-gradient(45deg,oklch(31.644% 0.0591 269.666), oklch(27.9% 0.041 260.031)) ;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    
}

.logo-titulo{
    display: flex;
    align-items: center;
    gap: 5px;
    letter-spacing: 1px;
}

.logo-titulo h1:hover{
    color:oklch(92.339% 0.18827 102.254);
    cursor: pointer;
    text-shadow: 0 0 10px oklch(94.554% 0.14344 102.804);
}

.lista{
    display:flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}

.itens{
    text-decoration: none;
}

.itens:hover{
    color:oklch(77.7% 0.152 181.912);
    text-shadow: 0 0 10px #ffffff;
}

.login-button:hover{
    background-color: oklch(84.5% 0.143 164.978);
    cursor: pointer;
    box-shadow: 0 0 10px oklch(80.468% 0.16054 70.986);
}

.navegação{
    display: flex;
    align-items: center;
}

.login-button{
    color: #000814;
    background-color: #00FF88;
    padding: 10px;
    border: none;
    border-radius: 6px;
    width:6rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

a{
    text-decoration: none;
}

h2,b{
    color: oklch(76.5% 0.177 163.223);
    font-size: 30px;
}

.first-section{
    display: flex;
    align-items: center;
    margin-top: 8em;
    justify-content: space-around;
}

.first-section img{
    border-radius: 6px;
}

.first-section-text{
    text-wrap: wrap;
    font-size: 17px;
}

.first-section-title{
    color:var(--verde-destaque);
    font-weight: 700;
    font-size: 32px;
}

.section-text{
    width: 40%;
}

.second-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 8em;
    padding: 6rem 6.5rem;
    background-color: oklch(37.173% 0.04497 257.445 / 0.671);
}

.second-section-items {
    width: 50%;
    
}

.second-img img{
    width:80%;
    border-radius: 6px;
}

.second-section-title {
    color: #1B252C;
}

.second-section-text {
    text-wrap: wrap;
    font-size: 17px;
}

.third-section{
    margin-bottom: 3em;
    margin-top: 20px;
}

.third-text h2{
    font-size: 36px;
    margin-bottom: 0.5em;
}

.third-text p{
    font-size: 17px;
}

.third-text{
    padding-top: 5rem;
    display: flex;
        text-align: center;
        flex-direction: column;
}

.main-grid{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
}

.items-column{
    display: flex;
}

.first-column{
    list-style: none;
    display: flex;
    
}

.second-column{
    list-style: none;
    
}

.items-column-first{
    display: flex;
    justify-content: center;
}

.items-column-second{
    display: flex;
    justify-content: center;
}

.second-column{
    display: flex;
}

.grid-item{
    display: flex;
    align-items: center;
    margin: 1em 
}
.grid-item img{
    margin-right:1em;
}

.grid-item p{
    color: oklch(76.5% 0.177 163.223)
}

.swiper-section-link{
    text-decoration: none;
    background-color: #00FF88;
    color: #000814;
    padding:1em;
    border-radius: 8px;;
    font-weight: 700;
}

.card-list .card-item{
    user-select: none;
    display:block;
}

.card-list .card-img{
    width:35%;
    margin-left: 32.7%;
    border-radius: 6px
}

footer{
    padding:2em;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 3em;
}

@media screen and (max-width:1024px){
    
    .first-section{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .section-text{
        width: 70%;
        justify-content: center;
        margin: 0 auto;
        justify-content: center;
    }

    .first-section-title{
        text-align: center;
        font-size: 2.8em;
        text-wrap: wrap;
    }

    .first-section-text{
        font-size: 1.4em;
        text-align: center;
    }

    .first-section img {
        margin-top: 1.5em;
    }

    .second-section{
        display: flex;
        flex-direction: column;
    }

    .second-section-items{
        order:1;
        width:70%;
        font-size: 1.4rem;
    }

    .second-section-title{
        font-size: 2em;
        text-align: center;
        text-wrap: nowrap;
    }

    .second-img{
        display: flex;
        order:2;
        justify-content: center;
        align-items: center;
    }

    .second-img img{
        margin-top:2em;
        max-width: 60%;
    }

    .third-text h2{
        font-size: 2.6em;
    }

    .third-text p{
        font-size: 1.4em;
    }
}

input[type=number]::-webkit-inner-spin-button{
    appearance: none; 
}

.calc-section{
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.calc-text-div{
    margin-bottom:1.5em;
}

.calc-title{
    color: #00FF88;
    font-size: 2.5em;
}

.valores-div{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:50%;
}

.calc-input{
    border: 3px solid #0e7545;
    border-radius: 8px;
    padding: 0.5em;
    width: 70%;
    font-family: 'Roboto';
    margin-bottom: 1em;
    text-align: center;
    color: #000000;
}

label{
    color:#9DAFBD;
}

.btn-calc{
    width: 30%;
    padding: 1em 0.7em;
    background-color: #00FF88;
    border:none;
    border-radius: 8px;
    color: #000000;
    font-weight: 700;
    margin-top: 10px;
}

.btn-calc:hover{
    background-color:oklch(87.332% 0.24488 149.273);
    cursor: pointer;
    box-shadow: 0 0 10px oklch(86.851% 0.27806 144.422);
}

.resultado-img{
    width:65%;
}

.calc-main-div{
    display:flex;
    justify-content: center;
    align-items: center;
}

.resultado-text{
    color:#00FF88;
    text-shadow: 0 0 5px ;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 700;
}

.img-div{
    width:30%;
}
option{
    color: #000000;
}